<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Pandemic learning loss by state</title>
    <meta name="author" content="You">
    <meta name="description" content="A compendium of average math scores across the nation">
    <meta content="text/html" http-equiv="Content-type" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <%- include ('global/navbar');  %>
    <%- include ('global/header');  %>
  </head>

  <body>
    <h1>About Our Project</h1>
    <p><h4>TERMS FROM DATASET</h4>Jurisdiction: state <br>2019: average score for state in 2019 <br>2022: average score for state in 2022</p>
    <p>The focus of our investigation is to demonstrate how the pandemic has affected learning (negatively), which is why we chose to compare the score from years 2019 and 2022 for each state. 
    <p><h4>PROTOTYPES</h4>Diya's prototype: <br><%- include ('global/diya_prototypes');  %>
      <br>Isabella's prototype: <br><%- include ('global/isabella_prototypes');  %> </p>

      <p>When comparing our two prototypes, we noticed several similarities but also some differences. On the macropage, while we both had the idea to shade the states on the U.S. map
      based on a particular data point, Diya's idea was to shade based on whether the state's average score was above or below the national average, while Isabella's idea
      was to shade based on the percent decrease from 2019 to 2022. We decided to go with the percent decrease comparing the two years since our project aims to show pandemic learning loss from 2019 to 2022.
      As for the micropages, we both wanted to focus in on specific states and compare the state averages in 2019 and 2022. We also wanted to include a bar chart infographic, which compared the scores of each
      state in 2019 and 2022, as well as compared it with the national average. Overall, we did share some of the same visions for our project, but ultimately, we decided to keep some from each person and add
      some new content that neither of us had thought of on our own. </p>
      <p>We believe this approach best combines achievability, discoverability, understandability, usability, and cultural context as per the UX Design Perspectives we looked at. Using the US map is a helpful visual aid when trying to convey a national trend,
      which promotes understandability and discoverability. Similarly, hovering over a state on the map to access a pop-up with data advances usability, as it is very easy to see each state's data from the macropage.
      We also didn't want to be too aspirational for our project, so our basic macropage and micropage plans are not super unreasonable, so as to encourage achievability. Finally, we thought that adding in
      at least insights, if not actual data, about certain demographics in regards to pandemic learning loss would uphold cultural context, because we understand that there is much more than meets
      the eye in a situation like this -- there is a lot to be considered, and although the scope of our project will certainly not do justice to the profound cultural context that needs to be considered here,
      we hope to balance achievability and cultural context, and perhaps provide a disclaimer that the data that we are presenting in this project is not enough to make comprehensive interpretations from. </p>
    <p><h4>PIPELINE</h4><%- include ('global/pipeline');  %></p>
    <p>As this is a collaborative project, both of us, Isabella and Diya, plan to be working together on every piece. However, our division of labor was roughly split up as follows:
    Diya worked primarily on the macropage and github page hosting while Isabella worked primarily on the micropages and the about.html. Diya created the macropage infographic and takeaways,
    and facilitated much of the github page for our project. Isabella worked on the state.ejs file, which generates micropages, as well as a lot of this about page. She also implemented the build pipeline.
    Of course, we worked together on every decision and aspect of the project despite our different roles. </p>

    <%- include ('global/footer');  %>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
