<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Pandemic learning loss by state</title>
  <meta name="author" content="You">
  <meta name="description" content="A compendium of average math scores across the nation">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <header>
    <h1>Average scores</h1>
  </header>
  <section id="scores-table">
    <table>
      <tr>
        <th>Jurisdiction</th>
        <th>2019</th>
        <th>2022</th>
        <th>Percent change</th>
      </tr>
      <% for(state in data){ %>
      <tr>
        <td><a href="<%=data[state].link%>.html"><%= state %></a></td>
        <td><%= data[state].jurisdiction %></td>
        <td><%= data[state].before %></td>
        <td><%= data[state].after %></td>
        <td><%= data[state].percent %></td>
      </tr>
      <%}%>
    </table>
  </section>

  <%- include ('global/footer');  %>

</body>

</html>
